@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --primary-color: #180f14;
  --secondary-color: #e47194;
  --color-lightblue:#05e9f5;
  --color-blue:rgb(52, 8, 250);
  --color-darkblue:rgb(67, 37, 157);
  --color-white:#fff;
  --color-light-gray:rgb(108, 102, 102);
  --font-family: "Poppins", sans-serif;

  --color-bg:#05053e;
  --color-bg-variant:#2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-variant:rgba(77,181,255,0.4);
  --color-white: #fff;
  --color-light: rgba(255,255,255,0.6);
  --color-orange:#FFA500;
  --transition:all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

body,
button {
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
}